# Range Testing Results

Range testing was done with a Laird BL652 (nRF51832) chip in advertisement mode being scanned from an Android phone.

Coverage around concrete house
![Coverage around concrete house](Range%20Testing%20Results/768DFA45-AB63-408E-B84A-8A7F18BEFE90.jpeg)

Coverage through concrete walls

![Coverage through concrete walls](Range%20Testing%20Results/0CAA08AD-79CD-42BD-ADC3-AA65A3272E82.jpeg)

Line of sight range
![Line of sight range](Range%20Testing%20Results/20210614_085821_mfnr.jpg)
